# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PySpark
metastore_db/
spark-warehouse/

# Logs
logs/
*.log

# Build
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Temporary Files
*.tmp
*.bak

# Test Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Local Spark Output
output/
temp/

# Azure Databricks Local Files
.databricks/

# Ignore local configuration overrides
config/local_config.json